// theme style variables
@post-background: #cfd8dc;

.header-left {
	background-color: #ffffff; 
	position: fixed;
	z-index: 999;
	nav {
		background-color: #ffffFF;
	}
	text-align: center;
	color: @post-background;
}


.header-right {
	background-image: url('http://ununsplash.imgix.net/photo-1435777979752-56e82a9f1145?fit=crop&fm=jpg&h=700&q=75&w=1050');
	background-size: cover;
	background-position: center;
	min-height: 400px;
	padding-top: ;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.header-right {
		height: 200px;
	} 
}


.content {
	background-color: #ffffff;
	min-height: 2850px;

}

.footer {
	background-color: #448AFF;
	min-height: 100px;
}

.post {
	background-color: @post-background;
	margin: 50px 50px 0px 10px;
	min-height: 230px;
	width: 90%;
	margin-left: 5%;

	// &:last-child {
	// 	//margin: 0px 10px 50px 10px;
	// 	margin-bottom: 50px;
	// 	margin-right: 10px;
	// 	margin-left: 10px;
	// }
}

.post-body {
	font-family: 'Ubuntu', sans-serif;
	color: #212121;
	h3 a, p {
		margin-left: 15px;
		display: block;
		color: inherit;
	}
	.post-title {
		font-weight: 700px;
		font-size: 30px;
	}
	.read-more {
		border: none;
		&:hover {
			background-color: #448AFF;
			border: none;
		}
		&:after {
			font-family: 'FontAwesome';
			content: ' \f0f6';
		}
	}
}

aside {
	background-color: @post-background;
	.widget {
		background-color: #ffffff;
		min-height: 250px;
		width: 80%;
		margin-top: 50px;
		margin-bottom: 50px;
		h4 {
			text-align: center;
			background-color: #FFCCBC;
			margin: 10px;
			line-height: 50px;
			text-transform: uppercase;
		}
		ul {
			list-style: none;
			padding-left: 50px;
			padding-right: 50px;
			li {
				border-bottom: 1px solid #B3E5FC;
				&:before {
					font-family: 'FontAwesome';
					padding: 0 5px 0 -15px;
				}
				a {
					color: #212121;
				}
			}
			&.recent-post {
				li:before {
					content: '\f0f6';
				}
			}
			&.category {
				li:before {
					content: '\f07b';
				}
			}
			&.comment {
				li:before {
					content: '\f075';
				}
			}
			&.archive {
				li:before {
					content: '\f187';
				}
			}
		}
	}
}


.post-info {
	background-color: #448AFF;
	padding-top: 10px;
	p {
		font-family: 'FontAwesome';
		padding: 0 5px 0 -15px;

		&:nth-child(1) {
			&:before {
				content: '\f007';
			}
			&:after {
				content: ' ';
			}
		}
		&:nth-child(2) {
			&:before {
				content: '\f07b';
			}
		}
		&:nth-child(3) {
			&:before {
				content: '\f02c';
			}
		}
		&:nth-child(4) {
			&:before {
				content: '\f075';
			}
		}
		&:nth-child(5) {
			&:before {
				content: '\f017';
			}
		}
		a {
			color: #212121;
			// &:before {
			// content: ' ';
		}
		}
	}
	// a:nth-child(1) {
	// 	color: #212121;
	// 	&:before {
	// 		font-family: 'FontAwesome';
	// 		padding: 0 5px 0 -15px; 
	// 		content: '\f007';
	// 	}
		
	// }
	


.social {
	position: relative;
	min-height: 50px;
	div {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
    	transform: translate(-50%, -50%);
	}
}
